.header {
    position: fixed;
    background-color: #8c00a5;
    height: 70px;
    width: 100%;
    z-index: 100;
}
.main {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.history {
    display: grid;
    grid-template-rows: 43px 1fr;

}

.request-setup {
    margin: auto;
    margin-left: auto;
    margin-right: 20vh;
}

h1{
    color: white;
    text-align: center;
}



