* {box-sizing: border-box;}

.page-header {
    position: fixed;
    background-color: #6441a5;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.page-main {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper-menu {
    display: grid;
    grid-template-rows: 43px 1fr;
}

.burger {
    margin-top: auto;
    margin-left: 20px;
    position: relative;
    width: 40px;
    height: 35px;
    cursor: pointer;
}

.burger span,
.burger span::before,
.burger span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -13px ;
    width: 26px;
    height: 2px;
    background-color: white;
}

.burger span::before,
.burger span::after {
    content: '';
}

.burger span::before {
    transform: translateY(-8px);
}

.burger span::after {
    transform: translateY(+8px);
}

.header-title {
    margin: auto;
    margin-left: auto;
    margin-right: 20vh;
}

.title-link {
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin-top: 7px;
    color: white;
    text-decoration: none;
}
