.requests {
  display:inline-block;
  margin-right: 1%;
  height: 80px;
  padding-right:1%;
}

h5,p {
  margin-top:1%;
  margin-bottom: 1%;
}

button {
  border: lightblue;
  background-color: lightblue ;
  width: 100px;
}
