.container {
    display:block;
    margin:100px auto;
    width:800px;
    height:420px;
    border:3px solid #313A42;
    overflow: hidden;
    color: #fff;
    background-color: #262D33;
    box-sizing: border-box;
    position: relative;
}


.container p {
    text-align:center;
    font-size:25px;
}

.container a {
    display:block;
    font-size:25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.container span {
    color: red;
}

.container img {
    height:420px;
    width:400px;
}

.container__info {
    position:absolute;
    top:0;
    right:30px;
}

.container__info > p {
    font-size:25px;
}

.container__info > a {
    text-align: center;
    text-decoration: none;
    display:block;
    width:200px;
    height:30px;
    background:red;
    color:#fff;
    font-size:25px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}