.error {
    width:800px;
    display:block;
    margin:50px auto;
    height:30px;
    text-align:center;
}

h2 {
    font-size:45px;
}
.error h2 + p {
    font-size:35px;
}

.error p:last-child {
    font-size:25px;
}