.header {
  background-color: #5b6cca;
  height: 50px;
}

ul.menu {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}

ul.menu li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
}

.menu-btn {
  height:42px;
  width: 100px;
  border-radius: 3px;
  border:none;
}

button:hover{
  border: 2px solid black;
  cursor: pointer;
}

img {
  float: right;
  height:42px;
  display: inline;
}

.input{
  width:70%;
  margin-right: 10px;
  font-size: 25px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top:5%;
  height: 30px;
}

.search-button {
  width:100px;
  background-color: cornflowerblue;
  border-radius: 3px;
  border:none;
}

button:active{
  color:#d3d2d9;
}

.result {
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.content{
  padding-left: 10%;
  padding-right: 10%;
}
