<header class="header">
 <ul class="menu">
   <li><button class="menu-btn" (click)="show()">Настройки</button></li>
   <li><button class="menu-btn" (click)="show2()">История</button></li>
   <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
 </ul>
</header>
<div>
  <div class="settings" [style.display]="visibility?'block':'none'">
    <div>
      Сортировать по:
      <select name="sortType" class="sortType">
        <option>Релевантности</option>
        <option>Дате изменения/создания (новые-старые)</option>
        <option>Дате изменения/создания (старые-новые)</option>
      </select>
    </div>
    <div class="object">
      Объекта поиска:
      <select name="objectType">
        <option>Репозитории</option>
        <option>Пользователи</option>
      </select>
    </div>
  </div>
  <div class="search-history" [style.display]="visibility2?'block':'none'" >
    <app-history *ngFor= "let request of historyRequests" [request]="request"></app-history>
  </div>
  <div class="content">
  <div class="search">
    <input class="input" type="text" placeholder="Введите запрос">
    <button class="search-button">Найти</button>
  </div>
  <div class="result">
    <app-result *ngFor="let card of cards" [card]="card" ></app-result>
  </div>
  </div>
</div>
