<app-search [(searchControl)]="findControl"></app-search>
<app-view [sortRelev]="sortRelev" [title]="searchTitle" [(changing)]="changingValue"
    [repository]="repository" [user]="user" *ngIf="user || repository" [sortFromOldToNew]="sortFromOldToNew">
</app-view>
<app-error *ngIf="error"></app-error>
<div class="buttons__setting">
    <button (click)="changeStatus(true)">Открыть настройки</button>
    <button (click)="changeStatus(false)">Закрыть</button>
</div>
<app-settings [status]="showSettings" (checkValueSelect)="checkButton($event)" [count]="responseCount"></app-settings>
<app-history (repeat)="send($event)"></app-history>