<div class="settings" *ngIf="status">
    Кол-во соответствий с запросом: {{count}}
    <div>
        <h3>Внимание! Установки вступят в силу со следующего запроса</h3>
        <label>Поиск по: </label>
        <select (change)="test($event)">
            <option>{{myEnum.users}}</option>
            <option>{{myEnum.repository}}</option>
        </select>
    </div>
    <div>
        <label>Сортировка по:</label>
        <select (change)="test($event)">
            <option>{{myEnum.oldToNew}}</option>
            <option>{{myEnum.newToOld}}</option>
        </select>
    </div>
</div>
